<%- include ('partials/header') %>

<h1>INDEX PAGE!</h1>

<div class="ui main text container">
    <div ui huge header>RESTful Blog App</div>
    <div class="ui top attached segment">
        <div class="ui divided items">
                <div class="item">
                    <% blogs.forEach(function(blog){ %>
                    <div class="image">
                    <img src=" <%= blog.image %> ">
                    </div>
                    <div class="content">
                        <a class = "header" href="/blogs/<%= blog._id %>"><%= blog.title %></a>
                        <div class="meta">
                                <span><%= blog.created.toDateString() %></span>
                        </div>
                        <div class="description">
                                <p><%- blog.body.substring(0, 100) %></p>
                        </div>
                        <div class="extra">
                                <a class = "ui floated basic black button" href="/blogs/<%= blog._id %>">
                                    Read more
                                    <i class="right chevron icon"></i>
                                </a>
                        </div>
                    </div>
                <% }); %>
                </div>
        </div>
    </div>
</div>

<%- include ('partials/footer') %>